---
import GameCard from "../components/GameCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const games = await getCollection("games");
---

<style>
	.game-list {
		display: flex;
		flex-wrap: wrap;
	}
</style>
<script>
	const searchNode = document.getElementById("game-search");
	if (searchNode) {
		const games = document.querySelectorAll("[data-title]") as NodeListOf<HTMLDivElement>;
		searchNode.addEventListener("keyup", (event) => {
			if (event.target) {
				const target = event.target as HTMLInputElement;
				const searchString = target.value;
				games.forEach((game) => {
					if (
						searchString === "" ||
						(
							game.dataset.hasOwnProperty('title')
							&& game.dataset.title.toLowerCase().includes(searchString.toLowerCase()
						)
						)
					) {
						game.classList.remove("d-none");
					} else {
						game.classList.add("d-none");
					}
				});
			}
		});
	}
</script>
<BaseLayout>
	<div>
		<label for="game-search">Search</label><input
			id="game-search"
			type="text"
		/>
	</div>
	<div class="game-list">
		{
			games.map((game) => (
				<GameCard
					shortName={game.data.shortName}
					gameTitle={game.data.title}
				/>
			))
		}
	</div>
</BaseLayout>
